name: Publish Docker Image
on:
  push:
    branches: [ "main" ]

jobs:
  push-ghcr:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4

      - name: Log in to GHCR
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build image
        run: docker build -t ghcr.io/${{ github.repository_owner }}/qual:latest .

      - name: Push image
        run: docker push ghcr.io/${{ github.repository_owner }}/qual:latest
